<h1 class="center-text">Contact Us</h1>
<h3 class="center-text">Street:  2/b, Gangar House, Sv Rd, Borivli(w)</h3>
<h3 class="center-text">City:Mumbai</h3>
<h3 class="center-text"> State/province/area:Maharashtra</h3>
<h3 class="center-text">Phone number:  02230904412</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15562.546252378223!2d80.21237240537494!3d12.802086723503162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52508367a35a25%3A0xb78ead50262d809c!2sPadur%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1701929373943!5m2!1sen!2sin" width="1800" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
